<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>编辑分类</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/admin_category_edit.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/x-template" id="template">
    <div id="note">
        <div id="head">
        </div>
        <el-breadcrumb separator="/">
            <el-breadcrumb-item><a href="/admin_category.html">所有分类</a></el-breadcrumb-item>
            <el-breadcrumb-item>编辑分类</el-breadcrumb-item>
        </el-breadcrumb>
        <div class="breadCrumb">

        </div>
        <div class="form">
            <div class="form-title">编辑分类</div>
            <div class="inputs">
                <div>
                    <span>分类名称</span>
                    <input type="text" v-model="category.name" value="category.name">
                </div>
                <div>
                    <span>分类图片</span>
                    <input type="file" accept="image/*" ref="file" @change="setBase64">
                </div>
            </div>
            <button id="submit" class="submit" v-on:click="updateCategory">提交</button>
        </div>
    </div>
</script>
<script>
    $(function () {
        $("#head").load("head.html");
    });
</script>
<script>
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                category:{
                    id:'',
                    name:'',
                    pic:'',
                },
            }
        },
        methods: {
            //将图片转化为base64
            setBase64:function () {
                let data = this.$refs.file.files[0];
                let imgFile = new FileReader();
                imgFile.readAsDataURL(data);
                imgFile.onload = res => {
                    this.category.pic = res.target.result;
                };
            },
            //更新分类
            updateCategory:function () {
                axios({
                    method:"post",
                    url:"/updateCategory",
                    data:this.category
                }).then((response)=>{
                    if(response.data.code==200){}
                    alert("更新成功")
                    window.location="/admin_category.html"
                })
            }
        },

        beforecreated: function () {

        },
        created: function () {
           //获取单个分类信息
            let query = window.location.search.substring(1);
            let arr = query.split("=");
            let id=arr[arr.length-1];
            axios({
                method:"get",
                url:"/selectCategory",
                params:{
                    id:id
                }
            }).then((response)=>{
                if(response.data.code==200){
                    this.category=response.data.data;
                }
            })
        },
        mounted: function () {
        },
        computed: {}
    })
</script>
</html>