<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>商品管理</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/admin_category.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/x-template" id="template">
    <div id="note">
        <div id="head"></div>
        <div id="content">
            <div id="table">
                <el-table
                        border
                        :data="products"
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="ID"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="产品名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="subTitle"
                            label="产品小标题"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="originalPrice"
                            label="原价格"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="promotePrice"
                            label="优惠价格"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存数量"
                            width="180">
                    </el-table-column>
                    <el-table-column label="设置属性">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="propertyEdit(scope.row)">设置
                            </el-button>
                        </template>
                    </el-table-column>
                    <el-table-column label="编辑">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="productEdit(scope.row)">编辑
                            </el-button>
                        </template>
                    </el-table-column>

                    <el-table-column label="删除">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="deleteProduct(scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <div id="page">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page.sync="currentPage"
                        :page-size.sync="pageSize"
                        layout="total, prev, pager, next"
                        :total.sync="total">
                </el-pagination>
            </div>

            <div class="form">
                <div class="form-title">新增产品</div>
                <div class="inputs">
                    <div>
                        <span>产品名称</span>
                        <input type="text" v-model="product.name">
                    </div>
                    <div>
                        <span>产品小标题</span>
                        <input type="text" v-model="product.subTitle">
                    </div>
                    <div>
                        <span>原价格</span>
                        <input type="text" v-model="product.originalPrice">
                    </div>
                    <div>
                        <span>优惠价格</span>
                        <input type="text" v-model="product.promotePrice">
                    </div>
                    <div>
                        <span>库存</span>
                        <input type="text" v-model="product.stock">
                    </div>
                </div>
                <button id="submit" class="submit" v-on:click="addProduct">提交</button>
            </div>
        </div>
    </div>
</script>
<script>
    $(function () {
        $("#head").load("head.html");
    });
</script>
<script>
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                currentPage: 1,
                pageSize: 5,
                total: 1,
                cid:'',
                products:[],
                product:{},
            }
        },
        methods: {
            handleCurrentChange() {
                this.selectProducts();
            },
            categoryEdit(row){
                window.location="/admin_category_edit.html?id="+row.id;
            },
            propertyEdit(row){
                window.location="/admin_property.html?cid="+row.id;
            },
            productEdit(row){

            },

            //查询多个分类
            selectProducts: function () {
                axios({
                    method: "get",
                    url: "/selectProducts",
                    params: {
                        pageNum: this.currentPage,
                        pageSize: this.pageSize,
                        categoryId:this.cid,
                    }
                }).then((response) => {
                    if (response.data.code == 200) {
                        this.products = response.data.data.list;
                        this.total = response.data.data.total;
                    }
                })
            },
            //增加分类
            addProduct: function () {
                this.product.cid=this.cid;
                axios({
                    method: "post",
                    url: "/addProduct",
                    data: this.product,
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then((response) => {
                    if (response.data.code == 200) {
                        this.selectProducts();
                        this.product={}
                        alert("添加成功")
                    }
                })
            },
            //删除category
            deleteProduct: function (row) {
                let id = row.id;
                axios({
                    method: "post",
                    url: "/deleteProduct",
                    data: id,
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then((response) => {
                    if (response.data.code == 200) {
                        this.selectProducts();
                        alert("删除成功")
                    }
                })
            },


        },

        beforecreated: function () {

        },
        created: function () {
            let query = window.location.search.substring(1);
            let arr = query.split("=");
            let cid=arr[arr.length-1];
            this.cid=cid;
            this.selectProducts();
        },
        mounted: function () {
        },
        computed: {}
    })
</script>
</html>